.wrapper {
    margin-top: var(--margin-0);
}

.wrapper-infomationtechnology {
    display: flex;
    flex-direction: column ;
    align-items: center;
    height: 300px;
    padding-bottom: 150px;
    
}

.inner{
    display: flex;
    align-items: center;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    border: 10px solid transparent;
}

.avatar-infomationtechnology {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

}

.describe {
    padding-left: 50px;
}

.heading-informationtechnology {
    font-size: 4rem;
    font-weight: bold;
}

.title-informationtechnology {
    font-size: 2rem;
}
