.wrapper {
    z-index: 9999;
    margin: 0;
    position: absolute;
    inset: 0 0 auto auto;
    min-width: 230px;
    margin: 0px;
    transform: translate3d(0px, 38.8px, 0px);
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    overflow: hidden;
    padding: 8px 24px !important;
    color: var(--gray-color);
    animation: toggleOptions 0.3s ease;
    transition: all 0.3s ease;
    will-change: opacity, transform;

    a {
        color: var(--gray-color) !important;
    }
}

.option-item-link {
    &:hover {
        color: var(--secondary-color) !important;
    }
    .option-item {
        padding: 6px 0;
    }
}

.header {
    height: var(--default-layout-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-left {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        .avatar {
            --size: 50px;
            width: var(--size);
            height: var(--size);
        }
    }
    .header-right {
        flex: 1;
        .user-name {
            color: var(--text-color);
            font-size: 1.6rem;
            font-weight: 700;
        }
        .user-email {
            font-size: 1.4rem;
        }
    }
}

.option {
    .option-list {
        .option-item {
            padding: 6px 0;
        }
    }
}

@keyframes toggleOptions {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
