.container {
    // border: 1px solid #000 !important;
    max-width: 900px;
    margin-bottom: 20px;
    .content {
        display: flex;
        margin-top: 20px;
        .content {
            margin-top: 50px;
        }
        .input {
            width: 900px;
            font-size: 25px;
            border-bottom: 1px solid #000;
            margin-bottom: 20px;
        }
        .content-avatar {
            min-width: 200px;
            height: 200px;
            border-radius: 50%;
            flex: 1;
            margin-left: 50px;
            border-radius: 50%;
            .upload-photo {
                width: 200px;
                height: 200px;
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
            }
            .logo {
                position: relative;
                max-width: 200px;
                height: 200px;
                border-radius: 50%;
            }
            .upimg-btn {
                opacity: 0;
                position: absolute;
                z-index: -1;
                margin-left: 200px;
            }
        }
    }
    .content-detail {
        .row {
            display: flex;
            justify-content: space-between;
            .col1,
            .col2 {
                display: flex;
                margin-right: 2px;
            }
            .col1 {
                margin-bottom: 24px;
            }
            .col2 {
                margin-bottom: 24px;
            }
            .label {
                margin-right: 20px;
                font-weight: bold;
                min-width: 160px;
            }
            .value {
                border: 1px solid #000;
                width: 190px !important;
            }
            select,
            option {
                width: 100%;
            }
            .value-require {
                width: 100%;
                border: 1px solid #000;
            }
            .value-header {
                border: none;
                select {
                    display: block;
                    width: 140px;
                }
                .header-post,
                .body-post,
                .bottom-post {
                    height: 100px;
                    border: 1px solid #000;
                    select {
                        border: 1px solid #000;
                        margin: 5px 5px 0 5px;
                    }
                    .type-post {
                        margin: 20px;
                        .type-option {
                            display: flex;
                        }
                    }
                }
            }
        }
        .row-discript {
            display: block;
            textarea {
                width: 100%;
                height: 200px;
            }
        }
        .content-rule {
            .rule {
                margin-left: 20px;
                font-weight: 900;
            }
        }
    }
    .submit-btn {
        margin: 20px 0 20px 0;
        color: var(---black-color);
        justify-content: space-between;
        display: flex;
        // .btn-left {
        //     .save-btn {
        //         background-color: #90a399;
        //         color: var(--white-color);
        //     }
        // }
        button {
            color: var(---black-color);
            font-size: 1.6rem;
            border-radius: 999px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 100px;
            padding: 8px 18px;
            font-size: 1.6rem;
            font-weight: 700;
            font-family: var(--font-family);
            color: var(---black-color);
            border: 1px solid transparent;
            -webkit-user-select: none;
            user-select: none;
            cursor: pointer;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
