.wrapper {
    --height: 210px;
    padding-top: 50px;
    margin: 0 -14px;
}

.slider {
    .slider-item {
        overflow: hidden;
        padding: 0 14px;
        img {
            height: var(--height);
            border-radius: var(--radius-0);
            width: 100%;
            object-fit: cover;
        }
    }
}
