.wrapper {
    padding: 10px 20px;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0;
    // justify-content: center;
    .navigation-item {
        .navigation-item-link {
            transition: all 0.3s;
            font-weight: 700;
            padding: 4px 8px;
            &:hover {
                color: var(--primary-color);
            }
        }
    }
}
