.wrapper{
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column ;
    align-items: center;
    height: 100px;
    
    
}
.inner{
    height: 100%;
    display: flex;
    align-items: center;
}

.search{
    position: relative;
    width: 500px;
    height: 46px;
    padding-left: 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    border: 1.5px solid transparent;

    input{
        flex: 1;
        height: 100%;
        color:var(--black-color);
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
        font-family: var(--font-family);

        input:not(:placeholder-shown) ~ .search-btn {
            color: rgba(22, 24, 35, 0.75);
        }
        
        &::after {
            content: '';
            position: absolute;
            top: var(--search-top-spacer);
            right: var(--search-button-width);
            width: 1px;
            height: calc(var(--search-height) - var(--search-top-spacer) * 2);
            background-color: rgba(22, 24, 35, 0.12);
        }

        &:focus-within {
            border-color: rgba(22, 24, 35, 0.2);
        }

    }
}

.clear,
.loading {
    position:relative;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn{
    width: 52px;
    height: 100%;
    border-radius: 92px;
    
}
