.wrapper {
    position: relative;
    min-height: 260px;
    padding: 10px;
    margin-bottom: 14px;
    border-radius: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    &:hover {
        background-color: var(--gray-light-color-2);
        .image-block {
            .image {
                transition: transform 0.7s;
                transform: scale(1.1);
            }
        }
    }
    .link {
        color: var(--text-color);
        &:hover {
            color: var(--text-color);
        }
    }
    .image-block {
        --height: 250px;
        height: var(--height);
        box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
        border-radius: 18px;
        overflow: hidden;
        .image {
            object-fit: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: var(--height);
        }
    }
    .information {
        height: 100px;
        padding: 10px;
        width: 100%;
        .title {
            font-size: 2rem;
            font-weight: 600;      
            overflow: hidden;
        }
    }
}
