.wrapper {
    position: fixed;
    width: 100vw;
    padding: 0 var(--default-layout-horizontal-spacer);
    height: var(--default-layout-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8ebed;
    box-shadow: 0 -2px 20px rgb(0 0 0 / 10%);
    z-index: 100;
    background-color: var(--white-color);
}

.left {
    .logo {
        height: 100%;
        max-width: 60px;
    }
}

.right {
    --size: 2.8rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    .notification {
        font-size: var(--size);
        display: flex;
        margin: auto;
        cursor: pointer;
    }

    .avatar {
        position: relative;
        width: var(--size);
        height: var(--size);
        cursor: pointer;
        .avatar-img {
            width: 100%;
            object-fit: cover;
            background-repeat: no-repeat;
        }
    }
}
