.add-question{
    display:block;
    margin-left: 50px;
    margin-top: 50px;
}
.question{
    height: 100px;
    width: 700px;
    border-radius: 20px;
    border: 1px solid #9c9a9a;
}
.option{
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid #9c9a9a;
    border-radius: 10px;
}
.close-button{
    margin-left: 20px;
}