.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    z-index: 2;
}

.center {
    --width: 640px;
    background: #fff;
    border-radius: 8px;
    max-width: calc(100vw - 32px);
    min-height: 600px px;
    padding: 48px 16px;
    position: relative;
    width: var(--width);

    .back-btn {
        font-size: 2.8rem;
        position: absolute;
        top: 15px;
        left: 15px;
        cursor: pointer;
        display: flex;
        margin: auto;
        padding: 10px;
        transition: all 0.1s;
        &:hover {
            font-size: 3rem;
        }
    }

    .header {
        margin-bottom: 40px;
        .logo {
            width: 120px;
            margin-bottom: 20px;
        }

        .heading {
            font-size: 2.8rem;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .form-option {
            --width: 320px;
            margin-bottom: 15px;
            width: var(--width);
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 44px;
            border-radius: var(--radius-0);
            border: 1px solid var(--gray-light-color);
            padding: 5px 15px;
            &:hover {
                cursor: pointer;
                background-color: var(--gray-light-color);
            }
            .option-icon {
                font-size: 2rem;
                display: flex;
                margin: auto;
            }
            .option-title {
                flex: 1;
                font-weight: 500;
            }
        }
    }

    .dont-have-account {
        margin: 24px 0 40px 0;
        font-size: 1.4rem;
        .change-form-btn {
            color: var(--primary-color);
            font-weight: 600;
            padding-left: 8px;
            cursor: pointer;
            margin-top: 10px;
        }
    }

    .accept-term {
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;
        font-size: 1.2rem;
        margin-top: 40px;
        a {
            color: var(--black-color);
        }
    }
}
